.App {
  text-align: center;
  background-color: red;
  min-height: 80vw;
  animation: seizure infinite 1s linear;
}

@keyframes seizure {
  0%{
    background-color: red;
  }
  10%{
    background-color: blue;
  }
  20%{
    background-color: chocolate;
  }
  30%{
    background-color: aqua;
  }
  40%{
    background-color: chartreuse;
  }
  50%{
    background-color:blueviolet;
  }
  60%{
    background-color: darksalmon;
  }
  70%{
    background-color: black;
  }
  80%{
    background-color: cornflowerblue;
  }
  90%{
    background-color: coral;
  }
  100%{
     background-color: green;
  }
}